In [1]:
import pandas as pd

In [18]:
# uploading all four wells
well_1 = pd.read_csv('1S-1X log.csv')
well_2 = pd.read_csv('1S-2X log.csv')
well_3 = pd.read_csv('1S-3X log.csv')
well_4 = pd.read_csv('1S-4X log.csv')

## 1S-1X log

In [9]:
#description of well
well_1 = well_1[(well_1 >= 0).all(axis=1)]
well_1.describe()

,DEPTH,CALI,GR,ILD,ITT,LLD,LLS,MSFL,NPHI,RHOB,SFL,SP
count,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000,13857.000000
mean,2579.827200,12.461762,85.620961,2.660886,0.094735,2.743542,3.001107,2.898048,0.253313,2.419372,4.459209,37.345659
std,609.648109,2.105861,24.966066,1.878579,0.015297,2.630740,2.463315,3.140168,0.068327,0.120607,51.559206,13.538447
min,1524.000000,8.643100,28.004200,0.581700,0.057300,0.597000,0.675300,0.209000,0.025800,1.750600,0.712800,0.948500
25%,2051.913600,10.922300,60.634600,1.759500,0.085700,1.631100,1.840400,1.193200,0.207300,2.357200,1.933100,35.137200
50%,2579.827200,12.052200,96.696800,2.264600,0.090700,2.222000,2.505200,1.940400,0.240200,2.441500,2.608900,42.996300
75%,3107.740800,13.683300,106.554800,3.009100,0.096600,2.992700,3.361700,3.721800,0.282800,2.504200,3.468500,46.196100
max,3635.654400,20.282900,131.366500,44.374600,0.180500,57.599700,40.938400,75.173600,0.490900,2.692100,2498.433600,57.798200

## 1S-2x log

In [10]:
#description of all wells
well_2 = well_2[(well_2 >= 0).all(axis=1)]
well_2.describe()

,DEPTH,CALI,GR,ILD,ITT,LLD,LLS,MSFL,NPHI,RHOB,SFL,SP
count,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000,11320.000000
mean,2444.429453,14.081408,85.234323,2.296065,0.097496,2.525044,2.707475,2.564374,0.282757,2.484488,2.789624,59.888077
std,498.050763,1.370597,26.549183,1.471030,0.015654,2.264008,2.327843,4.029989,0.070618,0.124893,3.238991,9.796615
min,1581.912000,10.635300,27.026300,0.661800,0.044500,0.681900,0.716200,0.165800,0.022800,1.630800,0.787800,38.207400
25%,2013.165900,13.220375,60.002875,1.523875,0.088000,1.607900,1.752025,1.143425,0.238800,2.397375,1.781850,51.384000
50%,2444.419800,13.905450,88.443450,1.959200,0.093300,2.038750,2.239700,1.804500,0.276200,2.504250,2.284750,62.513200
75%,2875.673700,14.778525,110.793500,2.560250,0.102100,2.758375,2.977150,2.901225,0.317900,2.588400,3.009725,67.178375
max,3307.080000,21.298200,155.178200,34.885400,0.182400,71.583900,64.378700,200.036600,0.469300,2.944700,168.747300,84.801600

## 1S-3X log

In [11]:
#description of well
well_3 = well_3[(well_3 >= 0).all(axis=1)]
well_3.describe()

,DEPTH,CALI,GR,ILD,ITT,LLD,LLS,MSFL,NPHI,RHOB,SFL,SP
count,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000,7317.000000
mean,2172.919200,14.607855,73.139227,2.213623,0.106659,2.545183,2.565840,3.217575,0.336409,2.384914,2.976872,52.137121
std,321.926757,2.128447,18.097652,1.848817,0.016768,3.639349,3.779938,9.538580,0.085419,0.119488,4.972967,11.059309
min,1615.440000,10.557400,28.829100,0.626600,0.040700,0.585700,0.616800,0.221500,0.018200,1.705400,0.771600,36.862900
25%,1894.179600,13.096300,58.027200,1.135300,0.096200,1.128900,1.189900,1.049600,0.287100,2.310000,1.346500,43.036700
50%,2172.919200,14.218500,71.465900,1.532800,0.102600,1.570000,1.698300,1.727500,0.333200,2.381700,1.913000,48.930100
75%,2451.658800,15.547600,89.526900,2.548100,0.121700,2.700400,2.706700,3.116900,0.406800,2.475700,3.040500,58.959300
max,2730.398400,20.249800,208.877700,13.630900,0.153300,110.720000,134.819300,340.863300,0.574300,2.660600,222.550800,83.210800

## 1S-4X log

In [19]:
#description of well
well_4 = well_4[(well_4 >= -115).all(axis=1)]
well_4.describe()

,DEPTH,CALI,GR,ILD,ITT,LLD,LLS,MSFL,NPHI,RHOB,SFL,SP
count,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000,4207.000000
mean,1718.310000,15.071026,47.986460,2.544955,0.114631,3.043719,2.838820,2.789418,0.383056,2.299539,4.477910,-56.348846
std,185.105135,2.994140,8.063922,4.088741,0.022000,5.818686,5.229001,5.790811,0.105963,0.161439,20.671922,11.554725
min,1397.812800,10.336300,22.782900,0.583200,0.039400,0.589100,0.696400,0.303900,0.020900,1.664200,0.599000,-114.252000
25%,1558.061400,12.357350,42.987350,0.893400,0.095700,1.050800,0.992500,0.953950,0.284550,2.233000,1.037700,-64.335900
50%,1718.310000,14.939300,48.203600,1.078300,0.118800,1.245100,1.190700,1.211700,0.432000,2.306900,1.324100,-56.677200
75%,1878.558600,16.434800,52.675250,2.797100,0.127000,2.895250,2.817700,3.245650,0.463400,2.408900,3.104400,-49.420850
max,2038.807200,23.877700,123.168500,35.071500,0.203700,84.186800,58.117200,134.960200,0.595300,2.710800,775.403300,-23.573100

## END OF CODE